<div class="ability flexrow flex-group-center">
  <label class="resource-label align-left">{{ability.label}}</label>
  <div class="flexlarge">
    <a class="ability-change" title="- {{label}}" data-action="dec" data-ability="{{key}}"><i class="fas fa-minus"></i></a>
    <span class="resource">{{ability.value}}</span>
    <a class="ability-change" title="+ {{ability.label}}" data-action="inc" data-ability="{{key}}"><i class="fas fa-plus"></i></a>
  </div>
  <div class="resource-label align-right">
    <img class="resource rollable" src="systems/taluspnp/assets/talus_wuerfel-icon.png" data-roll="3d6+@abilities.{{key}}.value" data-label="{{ability.label}}"/>
  </div>
</div>
