<section class="grid grid-11col">
  <div class="grid-span-5">
    <h3>{{localize "TALUS_PNP.CharacterSheetNavigationAbilities"}}</h3>
    <div>
    {{#each system.leftAbilities as |ability key|}}
      {{> "systems/taluspnp/templates/actor/parts/actor-ability-direct-input.html" key=key ability=ability}}
    {{/each}}
    </div>
  </div>
  <div class="grid-span-1">
    <img class="ornament vertical" src="systems/taluspnp/assets/talus-dagger_light-mode.png" />
  </div>
  <div class="grid-span-5">
    <h3>&nbsp;</h3>
    {{#each system.rightAbilities as |ability key|}}
      {{> "systems/taluspnp/templates/actor/parts/actor-ability-direct-input.html" key=key ability=ability}}
    {{/each}}
  </div>
</section>
