<div class="consequences">
  <h3>{{localize "TALUS_PNP.CharacterSheetNavigationConsequences"}}</h3>
  <div class="item-controls">
    {{#each consequenceKinds as |consequenceKindData kind|}}
      <a class="item-control item-create {{consequenceKindData.class}}"
         title="{{localize consequenceKindData.labelAddConsequences}}" data-type="consequence" data-kind="{{kind}}"><i
          class="fas fa-plus"></i> {{localize consequenceKindData.labelAddConsequences}}</a>
    {{/each}}
  </div>
  <div class="grid grid-2col">
    <ol class="items-list">
      {{> "systems/taluspnp/templates/actor/parts/actor-consequence.html" consequence=(lookup consequences 1) slot=1}}
      {{> "systems/taluspnp/templates/actor/parts/actor-consequence.html" consequence=(lookup consequences 2) slot=2}}
      {{> "systems/taluspnp/templates/actor/parts/actor-consequence.html" consequence=(lookup consequences 3) slot=3}}
    </ol>
    <ol class="items-list">
      {{> "systems/taluspnp/templates/actor/parts/actor-consequence.html" consequence=(lookup consequences 4) slot=4}}
      {{> "systems/taluspnp/templates/actor/parts/actor-consequence.html" consequence=(lookup consequences 5) slot=5}}
      {{> "systems/taluspnp/templates/actor/parts/actor-consequence.html" consequence=(lookup consequences 6) slot=6}}
    </ol>
  </div>
</div>
