<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <img class="ornament" src="systems/taluspnp/assets/talus-header_light-mode.png" />
  <header class="sheet-header">
    <section class="grid grid-3col">
      <div class="header-fields grid-span-2">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "TALUS_PNP.GeneralItemSheetName"}}"/></h1>
      </div>
    </section>
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <img class="ornament" src="systems/taluspnp/assets/talus-ornament_light-mode.png" />
    {{> "systems/taluspnp/templates/actor/parts/actor-consequences.html"}}
    <img class="ornament" src="systems/taluspnp/assets/talus-ornament_light-mode.png" />
    <h3>{{localize "TALUS_PNP.CharacterSheetNavigationDescription"}}</h3>
    <div class="biography" data-group="primary" data-tab="description">
        {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>
    <img class="ornament" src="systems/taluspnp/assets/talus-footer_light-mode.png" />
  </section>
</form>
