<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "TALUS_PNP.GeneralItemSheetName"}}"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in actor-sheet.mjs --}}
      <a class="item" data-tab="items">{{localize "TALUS_PNP.CharacterSheetNavigationItems"}}</a>
      <a class="item" data-tab="consequence">{{localize "TALUS_PNP.CharacterSheetNavigationConsequences"}}</a>
      <a class="item" data-tab="description">{{localize "TALUS_PNP.CharacterSheetNavigationDescription"}}</a>
    </nav>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner
           editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/taluspnp/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Consequences Tab --}}
    <div class="tab spells" data-group="primary" data-tab="consequence">
      {{> "systems/taluspnp/templates/actor/parts/actor-consequences.html"}}
    </div>
  </section>
</form>

